<app-data-table
  [source]="this"
  [entity]="entityClass"
  [columns]="displayColumns"
  [options]="tableOptions"
  [templates]="[
    ['category', categoryTemplate],
    ['position', positionTemplate],
    ['mobilePhone', mobilePhoneTemplate],
    ['homePhone', homePhoneTemplate],
    ['birthday', birthdayTemplate],
    ['hiredDate', hiredDateTemplate]
  ]">
</app-data-table>

<ng-template #mobilePhoneTemplate let-dataEntry="dataEntry">
  <a class="phone-no-wrap" [href]="'tel:' + dataEntry.mobilePhone">{{ dataEntry.mobilePhone }}</a>
</ng-template>

<ng-template #homePhoneTemplate let-dataEntry="dataEntry">
  <a class="phone-no-wrap" [href]="'tel:' + dataEntry.homePhone">{{ dataEntry.homePhone }}</a>
</ng-template>

<ng-template #birthdayTemplate let-dataEntry="dataEntry">
  <app-button-date-view [date]="dataEntry.birthday"></app-button-date-view>
</ng-template>

<ng-template #hiredDateTemplate let-dataEntry="dataEntry">
  <app-button-date-view [date]="dataEntry.hiredDate"></app-button-date-view>
</ng-template>

<ng-template #categoryTemplate let-dataEntry="dataEntry">
  {{ dataEntry.category.name }}
</ng-template>

<ng-template #positionTemplate let-dataEntry="dataEntry">
  {{ dataEntry.position.name }}
</ng-template>

<ng-template #workerForm let-dialogRef="dialogRef" let-data>
  <app-entity-dialog [dialog-ref]="dialogRef" [dialog-data]="data" [data-service]="workerService">
    <app-worker-form #formControl [formData]="data.form"></app-worker-form>
  </app-entity-dialog>
</ng-template>
