<app-data-table
  [source]="this"
  [entity]="entity"
  [columns]="displayColumns"
  [options]="tableOptions"
  [templates]="[['claims', accessChipTemplate]]">
</app-data-table>

<ng-template #accessChipTemplate let-dataEntry="dataEntry">
  <ng-container *ngIf="isAdminEntry(dataEntry)">
    <mat-chip-list>
      <mat-chip class="access-chip"> Полные права администратора </mat-chip>
    </mat-chip-list>
  </ng-container>
  <ng-container *ngIf="!isAdminEntry(dataEntry)">
    <mat-chip-list>
      <mat-chip *ngIf="!dataEntry.claims || dataEntry.claims.length === 0"> Права отсутствуют </mat-chip>
      <mat-chip class="access-chip" *ngFor="let claim of dataEntry.claims">
        {{ claimToChip(claim) }}
      </mat-chip>
    </mat-chip-list>
  </ng-container>
</ng-template>

<ng-template #rolesForm let-dialogRef="dialogRef" let-data>
  <app-entity-dialog [dialog-ref]="dialogRef" [dialog-data]="data" [data-service]="roleService">
    <app-role-form #formControl [formData]="data.form"></app-role-form>
  </app-entity-dialog>
</ng-template>
