.login-container {
    height: 100%;
    overflow: hidden;
    user-select: none;
}

mat-form-field {
    min-width: 270px;
}

mat-card {
    margin: 16px;
}

mat-progress-spinner {
    display: inline-block;
}