<mat-form-field appearance="fill">
  <mat-label>{{ inputLabel }}</mat-label>
  <input
    matInput
    type="text"
    name="entity"
    (focus)="inputFocused()"
    (blur)="markAsTouched()"
    [readonly]="readonly"
    [matAutocompleteDisabled]="readonly"
    [formControl]="entityControl"
    [matAutocomplete]="complete" />
  <mat-autocomplete #complete="matAutocomplete" [displayWith]="displayWith">
    <mat-option *ngIf="isLoading">
      <mat-progress-bar mode="buffer"></mat-progress-bar>
    </mat-option>
    <mat-option *ngIf="noDataFound" class="select-shutter">
      <span>Совпадения не найдены</span>
    </mat-option>
    <div *ngFor="let entity of filteredEntities">
      <mat-option [value]="entity">
        <ng-template
          *ngIf="entityTemplate"
          [ngTemplateOutlet]="entityTemplate"
          [ngTemplateOutletContext]="{ $implicit: entity }">
        </ng-template>
        <span *ngIf="!entityTemplate">
          {{ displayWith(entity) }}
        </span>
      </mat-option>
    </div>
  </mat-autocomplete>
  <mat-error *ngFor="let errorDef of errors">
    <ng-container *ngIf="entityControl.hasError(errorDef.error)">
      <ng-template *ngTemplateOutlet="errorDef.template"></ng-template>
    </ng-container>
  </mat-error>
</mat-form-field>
